{% extends "base/dashboard.html" %}
{% load static %}

{% block title %}
{{recipe.name}}
{% endblock %}

{% block custom-js %}
<script>
    function sendVote(recipe_id, vote_up){
        $.ajax({
            url: "/recipes/vote",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'recipe_id': recipe_id,
                'vote_up': vote_up,
            },
            type: "POST",
            dataType: "json",
            success: function(data) {
                if (data.success){
                    window.location.reload();
                } else {
                    alert("Ha ocurrido un error");
                }
            }
        });
    }

    function deleteRecipe(recipe_id){
        $.ajax({
            url: "/recipes/delete",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'recipe_id': recipe_id,
            },
            type: "POST",
            dataType: "json",
            success: function(data) {
                if (data.success) {
                    window.location.href = "/" + '{{request.user.username}}';
                } else {
                    alert("Ha ocurrido un error");
                }
            }
        });
    }
</script>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center flex-column text-light py-4" style="min-height: 40vh; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url('{{recipe.image.url}}'); background-size: cover; background-position: center;">
        <h1 class="mt-2">{{recipe.name}}</h1> 
        <small style="margin-top: -10px">por <a class="text-reset" href="{% url 'home:view-profile' username=recipe.author.user.username %}">{{recipe.author.display_name}}</a></small>
        <div>
            {% with score=recipe.get_rating %}
            {% if score > 0 %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
            {% if score > 1 %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
            {% if score > 2 %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
            {% if score > 3 %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
            {% if score > 4 %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
            {% endwith %}
        </div>
        <span class="mx-auto" style="font-size: 0.8rem;">({{total_votes}} votos)</span>

        <p class="mt-5 w-75 text-center">{{recipe.description}}</p> 
        <span class=" text-center">Tiempo de preparación: {{recipe.cooking_time}} minutos</span>
    </div>
    <div class="row mt-4">
        <div class="container">
            <div class="row justify-content-center">
                <h2>Instrucciones</h2>
            </div>
            <div class="row justify-content-center px-2">
                <p>{{recipe.instructions | linebreaks}}</p>
            </div>
        </div>
    </div>
    {% if not is_own %}
    <div class="row justify-content-center">
        {% if not has_voted %}
            <h2 class="mt-4 w-100 text-center">¡Valora esta receta!</h2>
            <div class="col-4 text-right" style="font-size: 2rem;">
                {{recipe.votes_up}} <a onclick="sendVote('{{recipe.id}}', true)"><i class="fas fa-thumbs-up" style="color: #00c853; cursor: pointer;"></i></a>
            </div>
            <div class="col-4 text-left" style="font-size: 2rem;">
                {{recipe.votes_down}} <a onclick="sendVote('{{recipe.id}}', false)"><i class="fas fa-thumbs-down" style="color: #e53935; cursor: pointer; "></i></a>
            </div>
        {% else %}
            <h2 class="mt-4 w-100 text-center">¡Gracias por haber votado!</h2>
        {% endif %}
    </div>
    {% else %}
    <div class="row justify-content-center">
        <button type="button" onclick="deleteRecipe('{{recipe.id}}')" class="btn btn-danger">ELIMINAR RECETA</button>
    </div>
    {% endif %}
</div>
{% endblock %}