{% for recipe in recipes %}
    <div class="container-fluid receta-min shadow my-3 ">
        <!-- COMPROBAR SI ES RECETA O RESEÑA -->
        <div class="row receta">
            <div class="col-md-3 p-0 w-100 receta-img" style="height: inherit; background-image: url('{{recipe.image.url}}')">
                <!--<div class="receta-img w-100 h-100" style="background-image: url('{{recipe.image.url}}')"></div>-->
            </div>
            <div class="col-md-9">
                <div class="container pb-2 pt-1">
                    <div class="row align-items-center ">
                        <div class="col-8 p-0">
                            <strong style="font-size: 1.3rem">{{recipe.name}}</strong>
                        </div>
                        <div class="col-4 text-right">
                                <i class="far fa-clock"></i> {{recipe.cooking_time}} min   <!-- TIEMPO DE PREPARACIÓN -->
                        </div>
                    </div>
                    <div class="row mt-1" style="min-height: 120px;"><p style="font-size: 0.9rem">
                        {% if recipe.description %}
                            {{recipe.description}}
                        {% else %}
                            {{recipe.instructions}}
                        {% endif %}
                    </p></div>
                    <div class="row">
                        <a href="{% url 'home:view-profile' username=recipe.author.user.username %}"><small>{{recipe.author.display_name}}</small></a>
                    </div>
                    <div class="row">
                        <div class="col-10 px-0">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <a href=""><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}