{% extends "base/dashboard.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block custom-meta %}
<meta http-equiv="Refresh" content="60">
{% endblock %}

{% block custom-css %}
    {{block.super}}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'home/feed.css' %}">
{% endblock %}

{% block contenido %}
    <h1 class="text-center">{{page_name}}</h1>
    {% include 'components/recipe-list.html' %}
    
    <!-- PAGINATION -->
    <div class="pagination d-flex align-items-center justify-content-center my-4" style="font-size:1.5rem;">
        {% if recipes.has_previous %}
            <a href="?page=1" class="mr-2">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="?page={{recipes.previous_page_number}}" class="mr-2">
                <i class="fas fa-angle-left"></i>
            </a>
        {% endif %}
        
        {% for num in recipes.paginator.page_range %}
            {% if recipes.number == num %}
                <strong class="mx-1">{{num}}</strong>
            {% elif num > recipes.number|add:'-3' and num < recipes.number|add:'3' %}
                <a class="mx-1" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}

        {% if recipes.has_next %}
            <a class="ml-2" href="?page={{recipes.next_page_number}}">
                <i class="fas fa-angle-right"></i>
            </a>
            <a class="ml-2" href="?page={{recipes.paginator.num_pages}}">
                <i class="fas fa-angle-double-right"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}