{% extends "base/dashboard.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block custom-css %}
    {{block.super}}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'home/feed.css' %}">
{% endblock %}

{% block contenido %}
    <!-- RECETA -->
    {% for recipe in recipes %}
    <div class="container-fluid receta-min shadow my-3 ">
        <!-- COMPROBAR SI ES RECETA O RESEÑA -->
        <div class="row receta">
            <div class="col-md-3 p-0 w-100 receta-img" style="height: inherit; background-image: url('{{recipe.image.url}}')">
                <!--<div class="receta-img w-100 h-100" style="background-image: url('{{recipe.image.url}}')"></div>-->
            </div>
            <div class="col-md-9">
                <div class="container pb-2 pt-1">
                    <div class="row align-items-center ">
                        <div class="col-8 p-0">
                            <strong style="font-size: 1.3rem">{{recipe.name}}</strong>
                        </div>
                        <div class="col-4 text-right">
                            <i class="far fa-clock"></i> 2h
                        </div>
                    </div>
                    <div class="row mt-1" style="min-height: 120px;"><p style="font-size: 0.9rem">
                        {% if recipe.description %}
                            {{recipe.description}}
                        {% else %}
                            {{recipe.instructions}}
                        {% endif %}
                    </p></div>
                    <div class="row">
                        <small>{{recipe.author.display_name}}</small>
                    </div>
                    <div class="row">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}