{% extends "base/base.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block custom-js %}
    {{block.super}}
    <script>
        $(document).on("keypress", "#search-username", function(e){
            if(e.which == 13){
                irPerfilUsuario();
            }
        });

        $(document).on("keypress", "#search-display-name", function(e){
            if(e.which == 13){
                buscarPerfilUsuario();
            }
        });

        function irPerfilUsuario(){
            var username_box = document.getElementById("search-username");
            var username = username_box.value;

            $.ajax({
                url: "/users/check/" + username,
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if (data.success) {
                        window.location.href = "/" + username;
                    } else {
                        document.getElementById("search-error").removeAttribute('hidden');
                        //alert(document.getElementById("search-error").textContent);
                    }
                }
            });
        }

        function buscarPerfilUsuario(){
            var displayname_box = document.getElementById("search-display-name");
            var displayname = displayname_box.value;
            window.location.href = "/search/" + displayname;
        }
    </script>
{% endblock %}

{% block custom-css %}
    {{block.super}}
	<link rel='stylesheet' type='text/css' media='screen' href="{% static 'home/feed.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row" style="height:100vh">
        <!-- NAVBAR ESCRITORIO -->
        <nav class="col-md-3 col-lg-2 md-hide shadow-lg h-100" style="padding: 0; z-index: 10; background-color: #f5f5f5">
            <!-- PANEL -->
            <div class="container mt-3">
                <div class="row pl-3">
                    <div class="col-md-4 d-flex align-items-center p-0 lg-hide">
                        <a href="{% url 'home:view-profile' username=request.user.username %}" class="user-image rounded-circle shadow">
                            {% if request.user.profile.image %}
                            <img class="rounded-circle img-perfil-dashboard" src="{{ request.user.profile.image.url }}">
                            {% else %}
                            <img class="rounded-circle img-perfil-dashboard" src="https://image.flaticon.com/icons/png/512/97/97895.png">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="container">
                            <div class="row">
                                <a href="{% url 'home:view-profile' username=request.user.username %}">{{request.user.profile.display_name}}</a>
                            </div>
                            <div class="row" style="margin-top: -5px;">
                                <small>@{{request.user.username}}</small>
                            </div>
                            <div class="row mt-2 lg-hide d-flex flex-column" style="font-size: 0.8rem;">
                                <a class="text-reset" href="{% url 'home:view_followers' username=request.user.username %}"><strong>{{request.user.profile.followers.count}} seguidores</strong></a>
                                <a class="text-reset" href="{% url 'home:view_followed' username=request.user.username %}"><strong>{{request.user.profile.followers.count}} seguidos</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- LINKS -->
            <nav class="nav flex-column ml-2" style="font-size: 1.2rem;">
                <a class="nav-link active" href="{% url 'home:home' %}"><i class="fas fa-home"></i> Inicio</a>
                <a class="nav-link" href="#"><i class="fas fa-bell"></i> Desarrollar</a>
                <a class="nav-link" href="{% url 'home:edit-profile' %}"><i class="fas fa-cog"></i> Ajustes</a>
                <a class="nav-link" href="{% url 'home:custom-logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </nav>
            <hr>
            <!-- CONTROLES -->
            <div class="d-flex px-2 justify-content-center mt-4 w-100">
                <div clas="col-12">
                    <a class="btn btn-light w-100 shadow-sm" href="{% url 'home:new-recipe' %}">Crear Receta</a>
                    <hr>
                    <!-- BUSCAR USUARIO -->
                    <div class="mt-4 container">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search-display-name" placeholder="Perfil">
                            </div>
                        </div>
                    </div>
                    <button onclick="buscarPerfil()" type="button" class="w-100 btn btn-light mt-3 shadow-sm">BUSCAR PERFILES</button>
                    <hr>
                    <!-- IR A PERFIL -->
                    <div class="mt-4 container">
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="text" class="form-control" id="search-username" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="row">
                            <div class="alert alert-danger w-100 mt-2 mx-0 px-0 text-center py-1" id="search-error" hidden>No se ha encontrado el usuario</div>
                        </div>
                    </div>
                    <button onclick="irPerfilUsuario()" type="button" class="w-100 btn btn-light mt-3 shadow-sm">IR A PERFIL</button>
                </div>
            </div>
        </nav>
        <!-- NAVBAR MOVIL -->
        <div class="col-12 md-show p-0 fixed-bottom" style="height: 40px;">
            <nav class="navbar navbar-light bg-light px-4 nav-movil" style="height: 100%;">
                <a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a>
                <a href=""><i class="fas fa-search"></i></a>
                <a href=""><i class="fas fa-bell"></i></a>
                <a href="{% url 'home:edit-profile' %}"><i class="fas fa-cog"></i></a>
                <a href="{% url 'home:custom-logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            </nav>
        </div>
        
        <!-- CONTENIDO -->
        <div class="col-md-9 col-lg-10 col-12 p-0 w-100 contenido">
            {% block contenido %}
            {% endblock %}
        </div>
        
        <!-- CONTROLES -->
        {% comment %}<!--<div class="col-lg-2 p-0 shadow-lg md-hide h-100" style="z-index: 999">
            <div class="container-fluid">
                <div class="row mt-4 justify-content-center">
                    <div clas="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="text" class="form-control" id="search-username" placeholder="Nombre de usuario">
                                </div>
                            </div>
                            <div class="row">
                                <div class="alert alert-danger mt-2 mx-0 py-1" id="search-error" hidden>No se ha encontrado el usuario</div>
                            </div>
                        </div>
                        <button onclick="irPerfilUsuario()" type="button" class="w-100 btn btn-light mt-3">IR A PERFIL</button>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center">
                    <a class="btn btn-crear" href="{% url 'home:new-recipe' %}">Crear Receta</a>
                </div>
            </div>
        </div>--> {% endcomment %}
        <!-- CONTROL EN MÓVIL -->
        <div class="md-show" style="position: fixed; bottom: 7vh; z-index: 999">
            <a href="{% url 'home:new-recipe' %}" class="shadow div-crear">Añadir receta</a>
        </div>
    </div>
</div>
{% endblock %}