body {
    font-family: 'Roboto', sans-serif !important;
}

.panel-izquierdo{
    color: white;
    height: 100vh;
    background-image: url('login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -5vw;
    padding: 0 !important;
}

.panel-izquierdo-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    font-size: 1.5rem;
}
